.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.seach-bar{
  width: 80%;
  border: none;
  padding: 20px;
}

.search-button{
  background: lightcoral;
  border:none;
  padding:10px 15 px;
  color: white;
}

.recipes{
  display : flex;
  justify-content: space-around;
  flex-wrap: wrap;
}






